
body{
	background-color: rgba(70%,50%,25%,.4);
}

.header_principal{
	color: white;
	height: 250px;
	background-color: rgba(60%,40%,30%,.5);
	padding: 4px;
	box-shadow: 3px 5px 4px gray;
	position: relative;

}

header figure{
	background-color: rgba(0%,0%,100%,.1);
	border-radius: 4px;
	float: left;
	box-shadow: 2px 2px 4px gray;
}

img{
	border-radius: 4px;
}

.nav_principal{
	clear: left;
}