
body{
	/*
	*/
	background-color: rgba(70%,50%,25%,.4);
	margin: 0px;
	padding: 0px;
}

.header_principal{
	color: white;
	height: 250px;
	background-color: rgba(60%,40%,30%,.5);
	padding: 4px;
	box-shadow: 3px 5px 4px gray;
	position: relative;

}

header figure{
	background-color: rgba(0%,0%,100%,.1);
	border-radius: 4px;
	float: left;
	box-shadow: 2px 2px 4px gray;
}

img{
	border-radius: 4px;
}


/*-----*/
.nav_principal{
	clear: left;
	position: relative;
	margin: 4px;
	/*background-color: red;*/
	height: 40px;
	border-bottom: 1px solid gray;
}
.nav_principal ul{
	position: absolute;
	/*background-color: green;*/
	margin: 0px;
	padding: 0px;
	left: 20px;
	top:10px;
}
.nav_principal ul li{
	list-style: none;
	display: inline-block;
}
.nav_principal ul li a{
	text-decoration: none;
	color: gray;
	background-color: rgba(0%,0%,100%,.1);
	font-size: 1.2em;
	padding: 7px;
	margin: 0px;
	font-weight: bold;
}

.nav_principal ul li a[href="ultimo"]{ /* =, *=, ^=, $=  */
	background-color: gray;
	padding-left: 1em;
	padding-right: 1em;
	color: purple;
	font-weight: bold;
}

.nav_principal ul li a:hover{
	color: white;
}

/*-----*/

.aside_principal{
	float: left;
	margin-top: 40px;
}

.aside_principal blockquote:nth-child(1){ /*even(par), odd(impar)*/
	color: red;
}

/*-----*/

.section_principal{
	margin-left: 250px;
}

/*-----*/

.footer_principal{
	background-color: gray;
	padding: 4px;
	height: 70px;
	position: relative;
	clear: both;
}

.footer_principal strong{
	position: absolute;
	right: 10px;
	top:20px;
}
.footer_principal small{
	position: absolute;
	bottom: 2px;
}
.footer_principal address{
	position: absolute;
	right: 10px;
}